<h2>Please Enter Data about a book</h2>

{{message}}

 <form [formGroup]="bookForm" (ngSubmit) = "onSubmit()" >

    <div>
        <label for="title"> Title</label>
        <input id="title" type="text" formControlName="title">
    </div>
    <div>
        <label for="year_written"> Year Written</label>
        <input id="year_written" type="number" formControlName="year_written">
    </div>
    <div>
        <label for="edition">Edition</label>
        <input id="edition" type="text" formControlName="edition">
    </div>
    <!-- <div>
        <label for="price"> Price</label>
        <input id="price" type="price" formControlName="price">
    </div> -->

<fieldset formGroupName="author">
    <legend>Author</legend>
       <div>
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name">
    </div>
    <div>
        <label for="nationality">Nationality</label>
        <input id="nationality" type="text" formControlName="nationality">
    </div>
</fieldset>


    <button type="submit" [disabled] = "!bookForm.valid" >Submit</button>

    <div *ngIf="title && title.invalid && title.touched"  class="alert alert-danger" >
        Title is required and must be at least 4 letters
    </div>


    </form>
    
