<p>book-list works !</p>


<div *ngIf="message" class="alert alert-warning alert-dismissible show" role="alert">
  <strong>Opps</strong> {{message}}
  <button type="button" class="btn-close" (click)="dismissAlert()" aria-label="Close"></button>
</div>



 
<div class="container-fluid">





    <div *ngIf="message" class="alert alert-warning alert-dismissible show" role="alert">
        <strong>Opps</strong> {{message}}
        <button type="button" class="btn-close" (click)="dismissAlert()" aria-label="Close"></button>
      </div>
    
      <app-book-form></app-book-form>
    
    <app-book-row *ngFor="let b of bookList"
    [book]="b"
    (click)='clicked(b)'></app-book-row>
    
    <app-book-details *ngIf="currentBook" [book]="currentBook"></app-book-details>

</div>







