<p>book-list works !</p>



<div class="container-fluid">





  <div *ngIf="message" class="alert alert-warning alert-dismissible show" role="alert">
    <strong>Opps</strong> {{message}}
    <button type="button" class="btn-close" (click)="dismissAlert()" aria-label="Close"></button>
  </div>

  <app-book-form *ngIf="showBookForm" (bookFormClose)="bookFormClose($event)" [book]="currentBook"
  ></app-book-form>

  <button (click)="openAddBook()" *ngIf="!showBookForm" class="btn btn-lg btn-outline-primary">Add Book</button>

  <button (click)="openEditBook()" *ngIf="!showBookForm" [disabled]="!currentBook"
    class="btn btn-lg btn-outline-primary">Edit Book</button>

  <button (click)="deleteBook()" *ngIf="!showBookForm" [disabled]="!currentBook"
    class="btn btn-lg btn-outline-danger">Delete Book</button>

  <div *ngIf="!showBookForm">
    <app-book-row class="card" *ngFor="let b of bookList" [book]="b" (click)='clicked(b)'

    [class.bg-info]="isSelected(b)" [class.text-white]="isSelected(b)"
    
    ></app-book-row>
  </div>

  <app-book-details *ngIf="currentBook" [book]="currentBook"></app-book-details>

</div>