<h1>2022 Client Application for worksheets
</h1>

<!-- <app-auth-button></app-auth-button> -->

<div class="nav-bar__buttons">
    <ng-container *ngIf="isAuthenticated$ | async; else loggedOut">
        <button (click)="auth.logout({ returnTo: document.location.origin })">
            Log out
        </button>
    </ng-container>

    <ng-template #loggedOut>
        <button (click)="auth.loginWithRedirect()">Log in</button>
    </ng-template>
</div>



<!-- <app-profile></app-profile>  -->

<app-book-list></app-book-list>

<router-outlet></router-outlet>